<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inici Aplicació</title>
</head>
<body>

<a href="/empleats/list">Llistar empleats </a><br/>
<a href="/empleats/listOrdenat">Llistar empleats ordenats per nom</a><br/>
<a href="/empleats/listOrdenatEmail">Llistar empleats ordenats  per correu</a><br/>
<a href="/empleats/directius">Llistar empleats directivos</a><br/>
<a href="/empleats/new">Afegir empleats</a><br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sortir (Sign Out)"/>
</form>
<form th:action="@{/register/new}" method="get">
    <input type="submit" value="Register"/>
</form>


</body>
</html>